define host {
        use                     dm-square-server
        host_name               status
        alias                   status.lsst.codes
        address                 status.lsst.codes
}

# Define a service to check the disk space of the root partition on the local
# machine.  Warning if < 20% free, critical if < 10% free space on partition.
define service {
        use                     local-service
        host_name               status
        service_description     Root Partition
        check_command           check_local_disk!20%!10%!/
}

# Define a service to check the number of currently logged in users on the
# local machine.  Warning if > 20 users, critical if > 50 users.
define service {
        use                     local-service
        host_name               status
        service_description     Current Users
        check_command           check_local_users!20!50
}

# Define a service to check the number of currently running procs on the local
# machine.  Warning if > 250 processes, critical if > 400 users.
define service {
        use                     local-service
        host_name               status
        service_description     Total Processes
        check_command           check_local_procs!250!400!RSZDT
}

# Define a service to check the load on the local machine.
define service {
        use                     local-service
        host_name               status
        service_description     Current Load
        check_command           check_local_load!5.0,4.0,3.0!10.0,6.0,4.0
}

define service {
        host_name               status
        service_description     HTTPS
        check_command           check_https
        use                     generic-service
}

define service {
        host_name               status
        service_description     HTTP redirect-to HTTPS
        check_command           check_https_redirect
        use                     generic-service
}

define service {
        host_name               status
        service_description     URL /status.json
        check_command           check_https!-u https://status.lsst.codes/status.json
        use                     generic-service
}

define service {
        host_name               status
        service_description     TLS cert expiration
        check_command           check_tls_cert
        use                     generic-service
}

define service {
        host_name               status
        service_description     ssllabs
        check_command           check_ssllabs
        use                     daily-service
}
